pypdf
llamaapi
pydantic
python-multipart==0.0.6
python-dotenv==1.0.0
fastapi-limiter==0.1.5
gunicorn==21.2.0
uvicorn==0.24.0
langchain==0.0.325
langchain-community==0.0.6
langchain-core==0.1.3
langchain-chroma==0.4.15
chromadb==0.4.15
redis
pytz
azure-cli-core